.form-container {
    max-width: 1440px;
    margin: auto;
    background: rgba(39, 39, 39, 0.8);
    border-radius: 5px;
    padding: 20px;
    color: white;

    h3 {
        text-align: center;
    }

    button {
        width: 100%;
    }
}
